.emptySearchDataContainer {
    margin-top: 200px;
    text-align: center;

    .boldText {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .fetchDataButton {
        margin: 10px 0;
    }
}

